#sketchpad-interface {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 0 !important;
}
.button{
    margin-left: 5rem;
    display: inline-block;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sketchpad {
    margin-right: 0;
    margin-left: 4rem;
    display: block;
    width: 80%;
    border:2px solid #888;
    border-radius:4px;
    position:relative;
}

.btn-section{
    font-family: Raleway, HelveticaNeue, serif;
}

.draw-button{
  margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

button span.center{
    color: #fff;
}

.alert {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 1em;
    width: 90%;
    line-height:15px;
    z-index: 1;
}

#instructions{
    width: 80%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 2em;
    width: 100%;
    background-color: #dc3545;
    color: white;
    text-align: center;
    line-height: 1.5em;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.login-text{
    float: right;
    margin-right: 2em;
}

.right-side {
    float:left;
    width:220px;
    height:285px;
    background-color:#def;
    padding:10px;
    border-radius:4px;
}
.left-side {
    float:left;
    box-sizing: border-box;
    padding-left: 0 !important;
    margin-left:10px;
}

@media only screen and (min-width: 550px) {
    .left-side{
        width: 65.33%;
        float: left;
    }
    .left-side:first-child {
        margin-left: 0;
    }
}

.list-group li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-group li img {
    width: 40%;
    display: inline-block;
    height: 2.4rem;
}

.list-group-item{
    overflow:hidden;
}

@media only screen and (max-width: 1190px) {
    #image-description{
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 950px) {
    #image-description{
        width: 60%;
        font-size: 0.7em;
        margin-top: 2rem;
        margin-left: 4rem;
        margin-bottom: 4rem;
    }
    #clearButton{
        font-size: 0.7em;
    }
    #saveButton{
        font-size: 0.7em;
    }
}

canvas {
image-rendering: optimizeSpeed;             // Older versions of FF
image-rendering: -moz-crisp-edges;          // FF 6.0+
image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
image-rendering: crisp-edges;               // Possible future browsers.
-ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)
}

#toastMessage {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#toastMessage.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
